* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;

}


.top-text {
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.top-container {
    display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
}
.link {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-button {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.menu-icon {
    fill: #2F2F37;
}

.nav-list,
.contacts {
    display:none;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-page {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero_m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 72px 0;
    height: 432px;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.main-page-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    width: 288px;
    color: #FFFFFF;
    margin-bottom: 72px;
    
}

.main-p-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-p-button:hover,
.main-p-button:focus {
    background-color: #404bbf;
}

.features {
    padding: 96px 0;
}


.features-content {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-bottom: 0;
    
}

.features-icon {
    display: none;
}

.features-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.team {
    background: #f4f4fd;
    text-transform: capitalize;
    padding-top: 96px;
        padding-bottom: 96px;
}

.team-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

}

.team-items {
    padding: 32px 16px 32px 16px;
}
.team-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-member {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-desc {
    font-size: 16px;
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    padding: 0;
}

.team-socials-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-item:hover,
.team-socials-item:focus {
    background-color: #404bbf;
}

.team-social-icon {
    fill: #f4f4fd;

}

.section-portfolio {
    padding: 96px 0;
    margin: 0 auto;
}

.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.overlay {
    display:none;
}

.portfolio-line {
    padding: 32px 16px;
}
.portfolio-image {
    width: 100%;
        height: auto;
        display: block;
}

.portfolio-item-name {
    text-align: left;
    margin-bottom: 8px;
}

.portfolio-desc {
    text-align: left;
}

.portfolio-content {
    display:flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-line {
    border: 1px solid #e7e9fc;
    border-top: none;
    box-shadow:
            0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }


.bottom {
    background: #2e2f42;
    width: 100%;
}

.footer-container {
    display:flex;
    flex-direction: column;
    gap: 72px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;

}

.studio-text {
    color: #f4f4fd
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    max-width: 264px;
}

.footer-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;;
    gap: 16px;
}

.footer-socials-item {
    background: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: white;
}

.footer-socials-item:hover,
.footer-socials-item:focus {
    background-color: #31d0aa;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

input::placeholder {
    color: #FFFFFF;
}

.subscribe-email {
    width: 288px;
    height: 40px;

    border: 1px solid #FFFFFF;
    border-radius: 4px;

    background-color: transparent;
    color: #ffffff;
    padding-left: 16px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-email:focus {
    border-color: #31d0aa;
}

.subscribe-email::placeholder {
    color: #ffffff;
}

.plane-icon {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.subscribe-email::placeholder {
    color:  #ffffff;
}

.plane-icon {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.subscribe-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #31d0aa;
}


.pop-up-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    padding: 32px 16px;
}

.pop-up-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FCFCFC; 
    max-width: 320px;
    position: relative;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 1px 1px rgba(0, 0, 0, 0.16),
        0px 1px 6px rgba(0, 0, 0, 0.08);

    overflow-y: auto;
    overflow: visible;
    margin: 16px auto;
    }

.pop-up-menu-close-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-menu-close-button:hover,
.pop-up-menu-close-button:focus {
    background-color: #404BBF;
}

.close-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-menu-close-button:hover .close-svg,
.pop-up-menu-close-button:focus .close-svg {
    fill: #ffffff;
}

.menu-nav-list {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 16px; 
    margin-bottom: 168px;
}

.menu-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-active-link {
    color: #404BBF;
}

.menu-contacts {
    margin-bottom: 48px;
}

.menu-contacts-list {
    display:flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 16px;
}

.menu-contacts-item {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}

.menu-phone {
    color: #4D5AE5;
}
 
.menu-socials {
    display: flex;
    gap: 40px;
    margin-left: 16px;
}
.menu-socials-item {
    background: #4d5ae5;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icon {
    fill: white;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: auto;
    padding: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.pop-up-review {
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 100%;
    max-width: 288px;
    position: relative;
    padding: 72px 16px 24px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 1px 1px rgba(0, 0, 0, 0.16),
            0px 1px 6px rgba(0, 0, 0, 0.08);
    
    overflow-y: auto;
    max-height: none;
    overflow: visible;
    margin: 0 auto;
    position: relative;
    
}

.pop-up-title {
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.pop-up-close-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-close-button:hover,
.pop-up-close-button:focus {
    background-color: #404BBF;

}

.close-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-close-button:hover .close-svg,
.pop-up-close-button:focus .close-svg {
    fill: #ffffff;
}

.accent {
    color: #4D5AE5;
}

.privacy-link {
    text-decoration: underline;
}

.pop-up-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-button:hover,
.pop-up-button:focus {
    background-color: #404bbf;
}

.label-field {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.field-wrapper {
    margin-bottom: 8px;
}

.field-wrapper-inner {
    position: relative;
}

.terms-field {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.custom-checkbox {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: none;
}

.input-checkbox:checked+.checkbox-label .custom-checkbox {
    background-color: #404bbf;
    border: none;
}

.input-checkbox:checked+.checkbox-label .vector {
    opacity: 1;
}

.input-checkbox:focus+.checkbox-label .custom-checkbox {
    border-color: #404bbf;
}

.vector {
    fill: #f4f4fd;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-field:active,
.info-field:focus {
    border-color: #4D5AE5;
    outline: none;
}

.text-field {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    outline: transparent;
}

.text-field::placeholder {
    color: #8E8F99;
}

.text-field:active,
.text-field:focus {
    border-color: #4D5AE5;
    outline: none;
}

.info-field:focus~.field-icon {
    fill: #4D5AE5;
}

.field-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width:768px) {

    /* tablet */

    .container {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .main-page {
        width: 100%;
        max-width: 768px;
    }

   .main-page .container {
            display: flex;
            flex-direction: column;
            align-items: center;
   }

   .top-container {
    display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;
   }
   

   .top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
    .menu-button {
        display: none;
    }

    .menu-icon {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
  
    .nav-list .contacts{
        visibility: visible;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        padding: 24px;
    }
    .contacts {
        display:flex;
    
    }
    

    .nav-item {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-item:hover,
    .nav-item:focus {
        color: #404bbf;
    }

    .active-link {
        color: #404bbf;
    }
.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -28px;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
}

.contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 122px;
}

.contacts-item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus,
.contacts-item:active {
    color: #404bbf;
}

.main-page {
    max-width: 100%;
    height: 436px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero_tab.jpg");
}

.main-page-name {
    font-weight: 700;
    font-size: 56px;
    width: 496px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    text-align: center;
        margin: 0 auto 36px;
    
}

.features-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.features-item {
    flex-basis:calc((100% - 24px) / 2);
}

.features-name {
    text-align: start;
}

.team-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
}

.portfolio-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
}

.bottom {
    height: auto;
}

.footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: flex-start;
        width: 584px;
        padding-top: 96px;
        padding-bottom: 96px;
}


   .footer-link,
   .footer-media-text,
   .subscribe-label {
       justify-content: flex-start;
       text-align: left;
   }

    .subscribe-box {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .subscribe-email {
        width: 264px;
    }
    .subscribe-button {
        margin: 0;
    }

    .footer-socials {
        justify-content: flex-start;
    }

    .pop-up-review {
        max-width: 408px;
        width: 408px;
        padding: 72px 24px 24px;
    } 
    }


    @media screen and (min-width: 1158px) {
    
            /* desktop */
        
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }

    .nav-list {
        margin-left: 76px;
    }
    .nav-item {
        font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
    }
    .contacts-list {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .contacts-item {
        white-space: nowrap;
        font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
    }

    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero_desk_1x.jpg");
        max-width: 1440px;
    }

    .main-page {
        min-height: 600px;
        display: flex;
            align-items: center;
        justify-content: center;
    }

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-content {
        flex-wrap:nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

    }
    .features-name {
        font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
    }

    .features-desc {
        font-weight: 500;
    }
    .features-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features-icon {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
                }

    .features-logo {
        width: 64px;
        height: 64px;
        display: block;
    }
    
    .team {
        padding-top: 120px;
            padding-bottom: 120px;
    }
    
    .team-content {
        flex-wrap: nowrap;
    }

    .section-portfolio {
        padding-top: 120px;
            padding-bottom: 120px;
    }

    .portfolio-content {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .overlay-box {
        position: relative;
        overflow: hidden;

    }

    .overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }

    .portfolio-item:hover {
        box-shadow:
            0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .overlay {
        transform: translateY(0);

    }

    .portfolio-line {
        box-shadow: none;
    }

    .overlay-text {
        color: #F4F4FD;
        padding: 40px 32px;
        margin: 0;
    }

    .portfolio-item-name {
        text-align: left;
        margin-bottom: 8px;

    }

    .portfolio-desc {
        text-align: left;
        margin-bottom: 32px;
    }

    .portfolio-content>li {
        border-bottom: 1px solid #e7e9fc;
    }


    .footer-container {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
        gap: 80px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .backdrop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pop-up-review {
        width: 408px;
        max-width: 408px;
        padding: 72px 24px 24px;
    }

    .checkbox-label {
        margin-bottom: 24px;
    }

    }


         @media screen and (max-width: 767px) and (min-resolution: 192dpi),
         screen and (max-width: 767px) and (min-resolution: 2dppx) {
             .main-page {
                 background-image:
                     linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                     url("../images/hero_m_2x.jpg");
             }
         }


        @media screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
            .main-page {
                background-image:
                    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url("../images/hero_tab_2x.jpg");
            }
        }

        @media screen and (min-width: 1158px) and (min-resolution: 192dpi),
        screen and (min-width: 1158px) and (min-resolution: 2dppx) {
            .main-page {
                background-image:
                    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url("../images/hero_desk_2x.jpg");
            }
        }